<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Alterar Modelo</h2>
		
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
		
		<p class="breadcrumb"><a href="<%= carmodels_url %>">Modelo</a> &raquo; <strong>Alterar</strong></p>

		<%= form_for(@carmodel)  do |f| %>
		  <% if @carmodel.errors.any? %>
		    <div class="message errormsg">
		      <p>Não foi possível salvar devido aos seguintes erros:</p>
		
		      <% @carmodel.errors.full_messages.each do |msg| %>
		        <p><%= msg %></p>
		      <% end %>
		    </div>
		  <% end %>  
		    <p>
  			  <%= f.label :marca %><br />
  			  <%= f.select :brand_id, @brands, :prompt => "Selecione", :class => "styled" %>
  			</p>
        <p>
          <%= f.label :modelo %><br />
          <%= f.text_field :name %>
        </p>
        <p>
  			  <b>Oleos</b><br />
  			  <% @count_oil = 0 %>
  			  <% f.fields_for :carmodel_oils do |builder| %>
  			    <%
  			    if builder.object.oil_id.blank?
  			    %>
  			    <%
  			      @oil_id = @oils_except[@count_oil][1]
  			      @oil_name = @oils_except[@count_oil][0]
  			      @count_oil = @count_oil + 1
  			      @display = "display:none"
  			    else
  			      @oil_id = builder.object.oil_id
  			      @oil = Oil.find(builder.object.oil_id)
  			      @oil_name = @oil.name
  			      @display = "display:block"
  			    end
  			    %>
            <div class="block">
            	<div class="block_head">
            		<div class="bheadl"></div>
            		<div class="bheadr"></div>
            		
            		<%= builder.check_box("oil_id", {:class => "checkbox oil_check"}, @oil_id , @carmodel.oils.include?(builder)) %>
                <%= @oil_name %>

            	</div>		<!-- .block_head ends -->

            	<div class="block_content" style="<%= @display %>">
            	  
            	  <p>
                  <%= f.label :km %><br />
                  <%= builder.text_field("km")  %><br />
                </p>
                
                <p>
                  <%= f.label :km_warning, "Km Aviso" %><br />
                  <%= builder.text_field("km_warning")  %><br />
                </p>
            	  
            	</div>		<!-- .block_content ends -->

            	<div class="bendl"></div>
            	<div class="bendr"></div>

            </div>		<!-- .block ends -->
            
          <% end %>
  			</p>
		    <%= f.submit "Alterar", :class => "submit small" %>
		<% end %>
		
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
		
</div>		<!-- .block ends -->