<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2><%= page %> Oleo</h2>
		
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
		
		<p class="breadcrumb"><a href="<%= oils_url %>">Marca</a> &raquo; <strong><%= page %></strong></p>

		<%= form_for(@brand)  do |f| %>
		  <% if @brand.errors.any? %>
		    <div class="message errormsg">
		      <p>Não foi possível salvar devido aos seguintes erros:</p>
		
		      <% @brand.errors.full_messages.each do |msg| %>
		        <p><%= msg %></p>
		      <% end %>
		    </div>
		  <% end %>
      <p>
        <%= f.label :nome %><br />
        <%= f.text_field :name %>
      </p>
		  <p>
		    <%= f.submit page, :class => "submit small" %>
		  </p>
		<% end %>
		
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
		
</div>		<!-- .block ends -->