
<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Veiculo Troca</h2>
		
		<ul>
			<li><a href="<%=new_vehicle_historic_path%>">Novo Veiculo Troca</a></li>
		</ul>
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
	
		<form action="" method="post">
		
		<h2>Troca necessaria</h2>
		
			<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
			
				<thead>
					<tr>
					  <th></th>
					  <th>Local</th>
            <th>Placa</th>
            <th>Oleo</th>
            <th>Km Inicial</th>
            <th>Km Atual</th>
            <th>Km Final</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
				</thead>
				
				<tbody>
				<% @vehicle_historics_exchange.each do |vehicle_historic| %>
          <tr>
            <td><%=image_tag("red.png")%></td>
            <td><%= vehicle_historic.place_name %></td>
            <td><%= vehicle_historic.license_plate %></td>
            <td><%= vehicle_historic.name %></td>
            <td><%= vehicle_historic.km_initial %></td>
            <td><%= vehicle_historic.km_atual %></td>
            <td><%= vehicle_historic.km + vehicle_historic.km_initial %></td>
            <td><%= link_to 'Troca efetuada?', vehicle_historic_exchange_path(vehicle_historic) %></td>
            <td><%= link_to 'Visualizar', vehicle_historic %></td>
            <td><%= link_to 'Editar', edit_vehicle_historic_path(vehicle_historic) %></td>
            <td><%= link_to 'Excluir', vehicle_historic, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
          </tr>
        <%
        end
        %>
				</tbody>
			</table>
			
		  <h2>Troca se aproximando</h2>

  			<table cellpadding="0" cellspacing="0" width="100%" class="sortable">

  				<thead>
  					<tr>
  					  <th></th>
  					  <th>Local</th>
              <th>Placa</th>
              <th>Oleo</th>
              <th>Km Inicial</th>
              <th>Km Atual</th>
              <th>Km Final</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
  				</thead>

  				<tbody>
  				<% @vehicle_historics_warning.each do |vehicle_historic| %>
            <tr>
              <td><%=image_tag("yellow.png")%></td>
              <td><%= vehicle_historic.place_name %></td>
              <td><%= vehicle_historic.license_plate %></td>
              <td><%= vehicle_historic.name %></td>
              <td><%= vehicle_historic.km_initial %></td>
              <td><%= vehicle_historic.km_atual %></td>
              <td><%= vehicle_historic.km + vehicle_historic.km_initial %></td>
              <td><%= link_to 'Visualizar', vehicle_historic %></td>
              <td><%= link_to 'Editar', edit_vehicle_historic_path(vehicle_historic) %></td>
              <td><%= link_to 'Excluir', vehicle_historic, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
            </tr>
          <%
          end
          %>
  				</tbody>
  			</table>
  			
  		  <h2>Andamento Diario</h2>

    			<table cellpadding="0" cellspacing="0" width="100%" class="sortable">

    				<thead>
    					<tr>
    					  <th></th>
    					  <th>Local</th>
                <th>Placa</th>
                <th>Oleo</th>
                <th>Km Inicial</th>
                <th>Km Atual</th>
                <th>Km Final</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
    				</thead>

    				<tbody>
    				<% @vehicle_historics_daily.each do |vehicle_historic| %>
              <tr>
                <td><%=image_tag("green.png")%></td>
                <td><%= vehicle_historic.place_name %></td>
                <td><%= vehicle_historic.license_plate %></td>
                <td><%= vehicle_historic.name %></td>
                <td><%= vehicle_historic.km_initial %></td>
                <td><%= vehicle_historic.km_atual %></td>
                <td><%= vehicle_historic.km + vehicle_historic.km_initial %></td>
                <td><%= link_to 'Visualizar', vehicle_historic %></td>
                <td><%= link_to 'Editar', edit_vehicle_historic_path(vehicle_historic) %></td>
                <td><%= link_to 'Excluir', vehicle_historic, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
              </tr>
            <%
            end
            %>
    				</tbody>
    			</table>
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->