<div class="block small center login">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<h2>Login</h2>
	</div>		<!-- .block_head ends -->

	<div class="block_content">

		<%= form_for @user_session, :url => { :action => "create" } do |f| %>
		  <% if @user_session.errors.any? %>
		    <div class="message errormsg">
		      <p><%= pluralize(@user_session.errors.count, "error") %> Não foi possível salvar devido aos seguintes erros:</p>
		
		      <% @user_session.errors.full_messages.each do |msg| %>
		        <p><%= msg %></p>
		      <% end %>
		    </div>
		  <% end %>
		  
		    <p>
			  <%= f.label :login %><br />
		      <%= f.text_field :login, :class => "text small" %>
		    </p>
		
			<p>
			  <%= f.label :password %><br />
		      <%= f.password_field :password, :class => "text small" %>
		    </p>
		  
		    <p>
		      <%= f.submit "Login", :class => "submit small" %>
		    </p>
		<% end %>

	</div>		<!-- .block_content ends -->

	<div class="bendl"></div>
	<div class="bendr"></div>

</div>		<!-- .login ends -->
